<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <!-- 
     이 appSettings Section은 생산라인 번호나 지역 코드 등과 같은 
     하드코딩된 설정 값을 외부에서 관리할 수 있도록 도와줍니다.
     예를 들어, 아래의 ProductionLine과 RegionCode 값을 수정하면 
     재컴파일 하지 않고, 생산라인 번호와 지역코드를 수정하여 바로 적용할 수 있습니다.
     (수정방법 : Icheon.exe.config를 메모장으로 열어서 해당 appSettings 부분을 수정)
    -->
    <appSettings>
        <add key="ProductionLine" value="1" />
        <add key="RegionCode" value="50" />
        <add key="RegionCodeToKr" value="이천시" />
        <add key="UseBlackPrinter" value="true"/> <!--흑백프린터 사용여부-->
        <add key="UseTransparentPrinter" value="false"/> <!--투명프린터 사용여부-->
        
        <add key="ProductionApiBaseUrl" value="https://go.urcode.me" />
        <add key="ProductionApiKey"     value="0710a69998543ed90f9ca3639d02352a4281578ffd68f7e09cc629cceaad0cde" />
        <add key="DevelopmentApiBaseUrl" value="http://221.149.127.152:8000" />
        <add key="DevelopmentApiKey"     value="a4e127e07d6356b1226e25b49efd4732fb9cab288639f44d15516ff53d61ad98" />

        <!-- true면 로컬(개발), false면 실운영 -->
        <add key="UseLocalApi" value="false" />
    </appSettings>
    
    <!-- 
        아래의 bindingRedirect 설정은 NuGet 패키지 업데이트나 의존성 버전 충돌을 해결하기 위해
        자동으로 추가된 내용입니다.
        
        예를 들어, System.Memory와 System.Runtime.CompilerServices.Unsafe 같은 어셈블리의 버전 충돌을
        해결하여, 런타임 시 올바른 버전이 로드되도록 강제합니다.
        
        이 설정은 프로젝트 안정성을 위해 필요하며, 직접 수정하지 않는 한 정상적인 동작에 기여합니다.
   -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
